:root {
    --main-color:#008fc7;
    --main-color-light:#45a6c7;
    --main-color-dark:#006296;
    --main-color-text: #e0eded;
    --main-color-light-accent: #abd4e7;
    --main-color-secondary:#e21f2f;
    --main-color-light-tint:#45a6c70d;
}